.thc-button {
  background-color: var(--color-primary);
  border-radius: var(--radius);
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &-text {
    color: var(--font-color-primary);
    padding: 0.6em 1.6em;
  }

  &--outline {
    border: 1.5px solid var(--color-primary);

    .thc-button-text {
      color: var(--color-clear-100);
      padding: 0.5em 0.6em;
    }
  }

  &--link {
    background-color: transparent;
    display: inline-block;
    color: var(--font-color-primary);
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
