.thc-slider {
  .vue-slider {
    &-rail {
      background-color: var(--color-dark-200);
      height: 4px;
      position: absolute;
    }
    &-process {
      background-color: var(--color-primary);
    }
    &-dot-handle {
      background-color: var(--color-primary);
      border: 2px solid var(--color-dark-200);
      box-shadow: none;
    }
    &-dot {
      &-focus {
        .vue-slider-dot-tooltip-top {
          visibility: inherit;
        }
      }
      &-tooltip {
        &-inner {
          background-color: rgba(var(--color-dark-rgb), 0.3);

          &-top {
            &:after {
              border-top-color: rgba(var(--color-dark-rgb), 0.3);
            }
          }
        }
      }
      &-top {
        top: -2px;
      }
    }
  }
}
