@use "../../styles/variables/variables" as *;

.thc-skeleton {
  animation: skeleton-loading 0.5s linear infinite alternate;
  height: 1.5em;
  border-radius: 0.2em;
  width: 100%;

  &-title {
    height: 1.8em;
  }

  &-subtitle {
    background-color: $color-gray-100;
    height: 0.6em;
  }

  &-text {
    height: 0.4em;
  }

  &--product {
    padding-top: 2em;
    .thc {
      &-skeletons {
        max-width: 10.625em;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        &-card {
          background-color: $color-dark-300;
          border-radius: 1em;
          height: 7.7em;
          display: flex;
          justify-content: flex-end;
          flex-direction: column;
          align-items: center;
          padding: 0.7em;
        }
        &-image {
          top: -2.5em;
          height: 7em;
        }

        .thc-skeleton {
          &-subtitle {
            width: 40%;
          }

          &-text {
            width: 35%;
            &:nth-child(odd) {
              width: 70%;
            }
          }
        }
      }
    }
  }

  &--product-clothes {
    background-color: $color-dark-300;
    max-width: 10.625em;
    width: 100%;
    padding-top: 2em;
    padding: 1em;

    .thc {
      &-skeletons {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        &-card {
          border-radius: 1em;
          height: 7.7em;
          display: flex;
          justify-content: flex-end;
          flex-direction: column;
          align-items: center;
          padding: 0.7em;
        }
        &-image {
          top: -2.5em;
          height: 7em;
        }

        .thc-skeleton {
          &-subtitle {
            width: 40%;
          }

          &-text {
            width: 35%;
            &:nth-child(odd) {
              width: 70%;
            }
          }
        }
      }
    }
  }

  &--categories {
    background-color: $color-dark-300;
    border-radius: 1em;
    max-width: 10.75em;
    width: 100%;

    .thc {
      &-skeletons {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        &-card {
          border-radius: 1em;
          height: 6.125em;
          display: flex;
          justify-content: flex-end;
          flex-direction: column;
          align-items: center;
          padding: 0.7em;
        }

        &-left {
          width: 100%;
          display: flex;
          align-items: flex-end;
          flex-direction: column;
          gap: 0.5em;
        }
        &-image {
          height: 4.3em;
          top: -0.3em;
        }

        .thc-skeleton {
          &-subtitle {
            width: 50%;
          }

          &-text {
            width: 35%;
            &:nth-child(odd) {
              width: 70%;
            }
          }
        }
      }
    }
  }

  &--subtitle {
    .thc {
      &-skeletons {
        gap: 0.5em;
        display: flex;
        flex-direction: column;
      }

      &-skeleton {
        &-subtitle {
          width: 40%;
        }

        &-text {
          width: 80%;

          &:last-child {
            width: 20%;
          }
        }
      }
    }
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(0, 0%, 31%);
  }
  100% {
    background-color: hsl(0, 2%, 23%);
  }
}
