.thc {
  &-price {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-weight: var(--font-weight-bold);

    &--default {
      color: var(--color-clear-100);
      .thc-price {
        &-currency {
          color: var(--color-green-100);
        }
      }
    }

    &--light {
      color: var(--color-clear-100);
    }

    &--dark {
      color: var(--color-gray-500);
    }

    &-currency {
      font-size: 0.7em;
    }

    &-cents {
      font-size: 0.8em;
      line-height: 1em;
    }
  }
}
