.thc-skeleton {
  animation: skeleton-loading 0.5s linear infinite alternate;
  height: 1.5em;
  border-radius: 0.2em;
  width: 100%;

  &--text {
    height: 1em;
  }

  &--image {
    width: 1em;
    height: 1em;
    border-radius: 10em;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(0, 0%, 31%);
  }
  100% {
    background-color: hsl(0, 2%, 23%);
  }
}
