@use "./variables" as *;

:root {
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-accent: #{$color-accent};
  --color-accent-secondary: #{$color-accent-secondary};
  --color-warning: #{$color-warning};
  --color-info: #{$color-info};
  --color-error: #{$color-error};
  --color-success: #{$color-success};
  --color-alert: #{$color-alert};

  --font-family: #{$font-family};

  --font-color-primary: #{$font-color-primary};
  --font-color-primary-light: #{$font-color-primary-light};
  --font-color-light: #{$font-color-light};
  --font-color-accent: #{$font-color-accent};
  --font-color-accent-secondary: #{$color-accent-secondary};

  --font-size-xxs: #{$font-size-xxs};
  --font-size-xs: #{$font-size-xs};
  --font-size-small: #{$font-size-small};
  --font-size-base: #{$units-base};
  --font-size-units: #{$units-font-base};
  --font-size-large: #{$font-size-large};
  --font-size-h6: #{$font-size-h6};
  --font-size-h5: #{$font-size-h5};
  --font-size-h4: #{$font-size-h4};
  --font-size-h3: #{$font-size-h3};
  --font-size-h2: #{$font-size-h2};
  --font-size-h1: #{$font-size-h1};

  --font-weight-light: #{$font-weight-light};
  --font-weight-regular: #{$font-weight-regular};
  --font-weight-medium: #{$font-weight-medium};
  --font-weight-bold: #{$font-weight-bold};
  --font-weight-black: #{$font-weight-black};

  --spacing-2-px: #{$spacing-2-px};
  --spacing-4-px: #{$spacing-4-px};
  --spacing-6-px: #{$spacing-6-px};
  --spacing-8-px: #{$spacing-8-px};
  --spacing-10-px: #{$spacing-10-px};
  --spacing-12-px: #{$spacing-12-px};
  --spacing-14-px: #{$spacing-14-px};

  --radius: #{$radius};
  --radius-2: #{$radius-2};
  --radius-4: #{$radius-4};
  --radius-6: #{$radius-6};
  --radius-8: #{$radius-8};

  --levels-z1: #{$levels-z1};
  --levels-z2: #{$levels-z2};
  --levels-z3: #{$levels-z3};
  --levels-z4: #{$levels-z4};
  --levels-z99: #{$levels-z99};

  --color-dark-100: #{$color-dark-100};
  --color-dark-200: #{$color-dark-200};
  --color-dark-300: #{$color-dark-300};
  --color-dark-400: #{$color-dark-400};
  --color-dark-500: #{$color-dark-500};
  --color-green-100: #{$color-green-100};
  --color-green-200: #{$color-green-200};
  --color-green-300: #{$color-green-300};
  --color-green-400: #{$color-green-400};
  --color-green-500: #{$color-green-500};
  --color-green-600: #{$color-green-600};
  --color-green-700: #{$color-green-700};
  --color-green-800: #{$color-green-800};
  --color-green-900: #{$color-green-900};
  --color-green-1000: #{$color-green-1000};
  --color-clear-100: #{$color-clear-100};
  --color-clear-200: #{$color-clear-200};
  --color-clear-300: #{$color-clear-300};
  --color-clear-400: #{$color-clear-400};
  --color-blue-100: #{$color-blue-100};
  --color-gray-100: #{$color-gray-100};
  --color-gray-200: #{$color-gray-200};
  --color-gray-300: #{$color-gray-300};
  --color-gray-400: #{$color-gray-400};
  --color-gray-500: #{$color-gray-500};
  --color-yellow-100: #{$color-yellow-100};
  --color-purple-100: #{$color-purple-100};
  --color-purple-200: #{$color-purple-200};
  --color-magenta-100: #{$color-magenta-100};
  --color-red-100: #{$color-red-100};
  --color-orange-100: #{$color-orange-100};
  --color-orange-200: #{$color-orange-200};
}
