@use "../../styles/utils/media" as *;

.thc {
  &-footer {
    background-color: var(--color-dark-300);
    border-top: 1px solid var(--color-gray-100);
    display: flex;
    color: var(--color-gray-300);
    flex-direction: column;
    align-items: center;
    text-align: center;

    &-logo {
      margin: 1em auto;

      @include respondTo("tablet") {
        margin: 0;
      }
    }

    &-wrapper {
      @include respondTo("tablet") {
        justify-content: space-between;
        display: flex;
        padding: 0.3em 1.4em;
        width: 100%;
      }
      @include respondTo("tablet-landscape") {
        align-items: flex-end;
        max-width: 80em;
        padding: 0.2em 1em 0 1em;
      }
    }

    &-socials {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &-list {
        max-width: 6em;
        margin: 0 auto;
        width: 100%;

        @include respondTo("tablet") {
          margin: 0;
        }
      }
    }

    &-brand {
      background-color: var(--color-green-100);
      color: var(--color-blue-100);
      width: 100%;
      padding: 0.9em 0;
      font-size: 0.78em;

      @include respondTo("tablet") {
        padding: 0.4em 0;
        font-size: 0.78em;
      }

      strong {
        font-weight: 600;
      }

      .fas {
        color: var(--color-green-500);
      }

      &--loading {
        margin: 0 auto;
      }
    }
  }

  &-disclaimer {
    font-size: 0.75em;
    margin-top: 1em;

    @include respondTo("tablet") {
      font-size: 0.76em;
      margin-top: 0.2em;
    }

    @include respondTo("tablet-landscape") {
      font-size: 1em;
      margin-top: 0.2em;
    }
  }
  &-legals {
    font-size: 0.74em;
    margin: 0.4em 0 1em;
    margin-bottom: 0;

    @include respondTo("tablet") {
      font-size: 0.624em;
      margin-top: 0.7em;
    }

    @include respondTo("tablet-landscape") {
      font-size: 0.88em;
      margin-top: 0;
      padding: 2em 0 0.9em;
    }

    &--loading {
      margin: 1.5em 0;
    }
  }
}
