.thc-add {
  &-square {
    border-radius: var(--radius-6);
    overflow: hidden;
    position: relative;
    width: 22em;
    height: 20.6em;
    margin: 0 auto;

    @include respondTo("tablet") {
      max-width: 22em;
      height: 20.6em;
      width: 100%;
    }

    @include respondTo("tablet-landscape") {
      max-width: 31em;
      height: 21em;
    }

    &::before {
      background-color: rgba(var(--color-green-100-rgb), 0.8);
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}
