.swiper {
  &-button {
    &-next,
    &-prev {
      background-color: $(--color-primary);
      border-radius: 10em;
      margin-top: -0.9em;
      width: 2em;
      height: 2em;

      .fas {
        color: var(--color-blue-100);
      }

      &.swiper-button-disabled {
        opacity: 0;
      }
      &.thc-button--icon-transparent {
        background-color: transparent;
      }
    }

    &-next {
      right: 0;
    }

    &-prev {
      left: 0;
    }
  }
}
