$border: 1px;

.thc {
  &-card {
    background-color: var(--color-gray-500);
    color: var(--color-clear-100);
    position: relative;
    overflow: hidden;

    &--gradient {
      overflow: inherit;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -$border;
        border-radius: inherit;
        background: linear-gradient(to right, var(--color-magenta-100), var(--color-purple-200));
      }
    }

    &--dark {
      border-radius: 0.5em;
      background-color: rgba($color: var(--color-gray-200), $alpha: 0.3);
      padding: 1em;
    }

    &--transparent {
      background-color: rgba($color: var(--color-gray-500), $alpha: 0.3);
    }
  }
}
