@use "../../styles/utils/media" as *;

.thc-add {
  &-square {
    border-radius: 1em;
    overflow: hidden;
    position: relative;
    width: 22em;
    height: 20.6em;
    margin: 0 auto;
    background-size: cover;
    background-position: center;

    @include respondTo("tablet") {
      max-width: 22em;
      height: 20.6em;
      width: 100%;
    }

    @include respondTo("tablet-landscape") {
      max-width: 31em;
      height: 21em;
    }
  }
}
