@use "../../styles/utils/media" as *;

.thc {
  &-image {
    position: absolute;
    width: 7.2em;
  }
  &-product {
    position: relative;

    &-card {
      height: 7.7em;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: center;
      padding: 0.7em;
      border-radius: 1em;
    }

    &--default,
    &--outline {
      max-width: 10.625em;
      width: 100%;

      .thc {
        &-product {
          &-item {
            padding: 1.8em 0 1em;

            @include respondTo("tablet-landscape") {
              padding: 2em 0 1em;
            }
          }

          &-data {
            padding-top: 0.4em;
          }
        }
        &-image {
          top: 0;
          left: 50%;
          margin-left: -3.7em;
        }
      }
    }

    &--default {
      .thc {
        &-image {
          &--error {
            height: 2em;
          }
        }
      }
    }

    &--outline {
      .thc {
        &-image {
          &--error {
            height: 7.5em;
            top: -0.2em;
          }
        }
      }
    }

    &--category {
      padding: 1em;
      position: relative;
      max-width: 12.64em;
      width: 100%;

      @include respondTo("tablet-landscape") {
        max-width: 16.6em;
        padding: 1em 0;
      }

      .thc {
        &-product {
          display: flex;
          justify-content: flex-end;
          height: 6.05em;
          position: relative;
          overflow: hidden;
          border-radius: 1em;
          width: 100%;

          @include respondTo("tablet-landscape") {
            height: 7.3em;
          }

          &-card {
            padding: 0;
            height: 6.05em;

            @include respondTo("tablet-landscape") {
              height: 7.3em;
            }
          }

          &::before {
            background-color: var(--color-magenta-100);
            content: "";
            position: absolute;
            height: 11em;
            width: 10em;
            transform: rotate(-67deg);
            left: -4.8em;
            top: 50%;
            margin-top: -8em;

            @include respondTo("tablet-landscape") {
              height: 14em;
              width: 14em;
              transform: rotate(-73deg);
              left: -5.7em;
              margin-top: -7em;
            }
          }

          &-data {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1em;
            align-items: flex-end;

            @include respondTo("tablet-landscape") {
              padding: 1em 1.4em 0.8em;
              min-width: 9.5em;
            }
          }

          &-pill {
            position: absolute;
            left: 0;
            right: inherit;
            top: 2em;
            z-index: 1;
          }
        }

        &-image {
          top: 0em;
          left: 0;

          @include respondTo("tablet-landscape") {
            top: -0.2em;
            width: 8.4em;
          }

          &--error {
            height: 8em;

            @include respondTo("tablet-landscape") {
              top: 0.6em;
            }

            .thc-image-error {
              background-color: transparent;
            }
          }
        }
      }
    }

    &--inline {
      padding: 0.5em;

      &::after {
        content: "";
        height: 0.03125em;
        background-color: var(--color-gray-500);
        width: 100%;
        position: absolute;
        bottom: -0.5em;
        left: 0;
      }

      .thc {
        &-product {
          &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1em;
          }
          &-action {
            margin-left: auto;

            @include respondTo("tablet-landscape") {
              margin-left: 0;
            }
          }
          &-media {
            position: relative;
          }
          &-data {
            position: relative;
            padding: 0.4em 0 0.4em 1em;
            width: calc(100% - 10.6em);

            &-flex {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 0.5em;
            }

            &:before {
              background-color: var(--color-green-100);
              content: "";
              position: absolute;
              width: 1px;
              border-radius: 1em;
              height: 85%;
              left: -2px;
              top: 0.4em;
            }
          }
          &-card {
            height: 4.75em;
            width: 6.8em;
            border-radius: var(--radius-4);
          }

          &-title {
            font-size: 1.25em;
            font-weight: 700;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }

        &-image {
          width: 5.8em;
          z-index: 1;
          left: 50%;
          margin-left: -2.9em;
          top: -0.9em;

          &--error {
            height: 6.2em;
            margin-left: -2.8em;
            top: -1.7em;
          }
        }
      }
    }

    &--vertical {
      padding-top: 2em;
      max-width: 10.7em;

      .thc {
        &-product {
          &-card {
            border-radius: 0.5em;
            height: 15em;
            padding: 1em;
          }
          &-data {
            position: relative;
            width: 100%;

            &:before {
              background-color: var(--color-clear-100);
              border-radius: 10em;
              position: absolute;
              margin-left: -0.6em;
              content: "";
              height: 0.15em;
              width: 1.2em;
              top: -0.8em;
              left: 50%;
            }
          }
        }
        &-image {
          top: 0.3em;
          left: 50%;
          margin-left: -4.75em;
          width: 9.5em;

          &--error {
            height: 10em;
            top: -0.8em;
          }
        }
      }
    }

    &-name {
      font-weight: 600;
    }

    &-category {
      color: var(--color-gray-300);
      font-size: 0.72em;
      text-transform: capitalize;

      &-name {
        color: var(--color-gray-200);
        font-weight: var(--font-weight-medium);
        font-size: 0.75em;
      }
    }

    &-pill {
      position: absolute;
      right: -0.3em;
      top: 3em;
    }

    &-title {
      font-weight: var(--font-weight-bold);
      font-size: 1em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &-subtitle {
      font-weight: var(--font-weight-light);
      color: var(--color-gray-300);
      font-size: 0.75em;
    }

    &-actions {
      display: flex;
      justify-content: space-between;
      margin-top: 0.6em;
    }
  }
}
