.thc {
  &-ratings {
    display: inline-flex;
    align-items: center;

    &-text {
      color: var(--color-gray-500);
      font-size: 0.75em;
    }

    &-stars {
      display: flex;
      gap: 0.25em;
      color: var(--color-warning);
    }

    &--with-data {
      gap: 0.25em;
    }
  }

  &-star {
    width: 1em;
    height: 1em;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;

    &--partial {
      &::after {
        content: "\e900";
        font-family: "icomoon";
        position: absolute;
        left: 0;
      }
    }
  }
}
