@use "../styles/variables/index.scss" as *;

:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --font-size-base: #{$font-size-base};
  --border-radius: #{$border-radius};
}

html {
  font-size: 14px;
}
body {
  font-size: 16px;
}
