.thc-image {
  width: 100%;
  position: relative;

  &-error {
    border-radius: 0.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .fas {
      opacity: 0.5;
      font-size: 2em;
    }
  }

  &--loading {
    height: 100%;
    .thc-image-loader {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }

  img {
    width: 100%;
  }
}
