$color-primary: #05fe88; /* vibrant green (main brand color) */
$color-secondary: #12824d; /* darker green (support/CTA) */
$color-accent: #00b961; /* bright green (hover, focus, highlight) */
$color-accent-secondary: #d24dcc; /* magenta (tags, badges, identity touch) */

$color-warning: #ffe100; /* yellow (alerts, attention) */
$color-info: #9747ff; /* purple (info messages or visual accents) */
$color-error: #e30613; /* red (errors, critical) */
$color-success: #00bb62;
$color-alert: #ff8e5f; /* orange (warnings or secondary alerts) */

$font-color-primary: #11232f;
$font-color-primary-light: #9aaab9;
$font-color-light: #ffffff;
$font-color-accent: #05fe88;

$font-family: "Outfit", sans-serif;

$font-size-xxs: 0.714rem;
$font-size-xs: 0.857rem;
$font-size-small: 0.929rem;
$font-size-base: 1rem;
$font-size-large: 1.214rem;
$font-size-h6: 1.429rem;
$font-size-h5: 1.714rem;
$font-size-h4: 2.071rem;
$font-size-h3: 2.5rem;
$font-size-h2: 3rem;
$font-size-h1: 3.571rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 800;
$font-weight-black: 900;

$sizes-xsmall: 0.25em;
$sizes-small: 0.5em;
$sizes-regular: 1em;
$sizes-large: 1.5em;
$sizes-xlarge: 2em;

$radius: 5em;
$radius-2: 0.125em;
$radius-4: 0.25em;
$radius-6: 0.375em;
$radius-8: 0.5em;

$spacing-2-px: 0.125em;
$spacing-4-px: 0.25em;
$spacing-6-px: 0.375em;
$spacing-8-px: 0.5em;
$spacing-10-px: 0.625em;
$spacing-12-px: 0.75em;
$spacing-14-px: 0.875em;

$units-font-base: 14px;
$units-base: 16px;

$levels-z1: 1;
$levels-z2: 2;
$levels-z3: 3;
$levels-z4: 4;
$levels-z99: 99;
